body{
   background-color: rgb(141, 193, 193);
   padding: 0%;
}
main{
    text-align: center;
    margin-top: 20%;
    padding: 50px;
    border: 2px solid black;
    
}
button{
    color: rgb(16, 16, 12);
    background-color: aquamarine;
}