.app-container {
  background-color: #2a2a2a;
  overflow: hidden;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.form-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
}
h2 {
   text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #ffffff;
}

h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}
h4 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}
form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}
select {
  color: #333;
  background-color: #fff;
}



input {
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;

}

input[type='file'] {
  background-color: #fff;
  color: #333;
}

input:focus {
  border-color: #4a90e2;
  color: #333;
}


button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  
}

button[type='Next'] {
  background-color: #555;
  color: white;
}

button[type='submit'] {
  background-color: #4a90e2;
  color: white;
}

button:hover {
  opacity: 0.9;
}

